doctype html 
//- форматировать файл с помощью плагина 'Pug beautify' 
//- F1 -> pug -> beautify pug/jade 
html(lang='ru') 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //- css/style.css, img/favicon.png - всегда загружается из public
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    title Natours | #{title}
body 
  // HEADER
  include _header

  // CONTENT
  block content  
   h1 default title placer

  // FOOTER
  include _footer
