//- extends - этот файл наследует всю разметку из base
//- именованые блоки block будут переопределены соотвествующими блоками в этом файле
extends base

//- переопределит block 'content' из шаблона base
block content 
  h1 This is the tour details page       